body {background-color: rgb(6, 14, 49);}

#title {
    color: lemonchiffon;
}

p {
    color: whitesmoke;
}

h1 {
    color:lemonchiffon;
}

ul {
    color: white;
}

h2 {
    color: paleturquoise;
}

h3 {
    color: white;
}


